In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB")
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [10]:
X = df.drop('price', axis=1)
y = df['price']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.24, random_state=51)
print(f"{X_train.shape}, {y_train.shape}")

(5411, 107), (5411,)

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
print(lr.coef_)

[-5.56154320e+00 -1.27705117e+00  8.38998654e+01 -1.49998288e+01
  5.71156482e+01  1.10302738e-01 -1.89881877e+00 -4.32340276e+00
 -2.29199437e+00 -4.37906671e+00 -2.45476395e+00  5.33108664e-01
 -1.04336009e+00  1.47305972e+00 -3.28605052e-02 -1.47410878e+00
 -1.87508794e-01  2.24519054e+00 -1.52748105e+00  1.96611349e+00
 -3.12797595e+00 -1.23340170e+00 -9.64359690e-01 -4.74493858e-02
  1.09384493e+00  1.22217942e+00 -3.49542585e+00 -1.21369758e+00
 -4.26839192e-01  1.53376466e+00 -5.71410418e-01 -1.03023188e-01
  7.11048608e-01 -1.37924497e+00  2.72629865e-03 -1.51521435e+00
  3.79958760e-01  8.55952983e-01  3.07989811e+00  4.43828137e-03
  1.20737085e-01  3.51677756e-01 -3.27336933e-01  1.09213676e+00
 -1.41981766e+00 -3.21371925e+00  4.76895226e-02 -5.31148039e-02
 -7.86767434e-01 -1.18648750e+00 -8.37289220e-01  2.43501984e-01
  9.57378636e-01 -8.41645168e-01 -1.01810890e+00  1.17761166e+00
  2.13418984e+00 -5.08202014e-01 -1.39604283e+00 -8.93298841e-01
  1.29738378e+00 -2.30959293e-01  1.12003725e-01  3.55157757e-02
 -1.88754744e+00  1.50171634e+00 -9.90624353e-01 -8.97475121e-01
 -7.36130146e-01  6.25959781e-02 -7.10085534e-01 -1.46599055e-01
 -1.74695952e+00 -1.15150944e+00  6.00368278e-01  1.42025195e+00
 -1.16645095e+00  3.10296847e-01 -6.44632535e-01 -2.11060286e+00
  1.62079181e-01  1.04940091e-02  1.13323585e-01  2.99388896e+00
  2.13886339e+00 -7.83545334e-01 -4.32966837e-01  2.34953853e+00
 -3.78152570e-02 -5.62075366e-03  4.42460383e-02  1.61022465e+00
  8.47483884e-01 -1.17120429e+00  3.34985589e-01 -8.43785163e-01
  1.75300065e+00  3.18441981e-01  8.16386557e-01  4.80378653e-01
 -2.54741928e-01 -1.28786327e+00 -6.34889022e-01  6.13611719e-01
 -1.81800477e+00  2.38092219e-01 -3.46954018e-01]

In [14]:
lr.predict([X_test[0, :]])

array([76.18921084])

In [16]:
lr.predict(X_test)

array([ 76.18921084,  15.00434608, 113.01764606, ...,  20.05121816,
        89.33288599, 103.470885  ])

In [17]:
y_test

2435     80.0
3113     40.0
426     120.0
1124     79.0
1161     45.0
        ...
479      50.0
2784    132.0
2414     45.0
5794     93.5
6124    100.0
Name: price, Length: 1709, dtype: float64

In [18]:
lr.score(X_test, y_test)

0.8011320211582287